<div id="<%= dom_id user %>">
<div>
 
    <h1><%= user.first_name %> <%= user.last_name %></h1>
    
    <p>
    <label>E-mail:</label>
    <%= user.email %>
     </p>

    <p>
        <label>Phone:</label>
        <%= user.phone %>
    </p>
    <p>
        <label>Telegram:</label>
        <%= user.telegram %>
    </p>

 </div>

</div>
